
header{
    height: 200px;
    background-image: url('13900514-fresh-strawberries-isolated-on-white-background.jpg');
background-size: contain;
/* background-size:200px; */
background-repeat: no-repeat;
background-position: center;
}
h3{
    color: rgb(129, 49, 49);
}
h3{
    font-size: 50px;
    text-decoration:overline;
}
.second{
    display:none;
}
.blog{
    margin: 20px;
    border: 10px solid gray;
    box-shadow: 10px 10px 10px greenyellow;
}
.button
 {
    margin: 10px;
    background-color:gainsboro;
    color:blueviolet;
   text-align: center;
   text-decoration: none;
   text-align: center;
   height: 30px;
   width: 100px;
 
 }
 .logo{
    text-align: center;
    
 }
 .button:hover{
    background-color:green;
    
 }
